@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root  {
	--purple: #7d84b2;
	--blue: #8FA6CB;
	--mint: #dff6eaff;
	--black: #2f323aff;
	--yellow: #EEDD9F;
	--lightyellow: #fffbe4;
	--white: #fff;

	/* theming values */
	--font: 'DM Mono', monospace;
	--fontColor: var(--black);
	--linkColorHover: var(--yellow);
	--linkBgHover: var(--black);

	--bg: var(--mint);
	--shadow: 4px 4px 0px var(--black);
	--border: 1px solid var(--black);

	--inputBg: var(--lightyellow);
	--inputTextColor: var(--black);
}
/* themes */
.minty {
	--fontColor: var(--black);
	--linkColorHover: var(--yellow);
	--linkBgHover: var(--black);
	--bg: var(--mint);
	--shadow: 4px 4px 0px var(--black);
	--border: 1px solid var(--black);
	--inputBg: var(--lightyellow);
}
.dark {
	--fontColor: var(--mint);
	--linkColorHover: var(--black);
	--linkBgHover: var(--mint);
	--bg: var(--black);
	--shadow: 4px 4px 0px var(--mint);
	--border: 1px solid var(--black);
	--inputBg: var(--lightyellow);
}
.beachy {
	--fontColor: var(--black);
	--linkColorHover: var(--black);
	--linkBgHover: var(--blue);
	--bg: var(--yellow);
	--shadow: 4px 4px 0px var(--black);
	--border: 1px solid var(--black);
	--inputBg: var(--lightyellow);
}
.cobalt2 {
--linkColorHover:#80FFBB;
--bg: #193549;
--fontColor: #80FCFF;
--border: #1F4662;
--shadow: 4px 4px 0px #5a7b92;
--linkBgHover: #122738;
--inputBg: #f7d96d;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--bg);
	background-image: var(--bgImage);
}

body {
	color: var(--fontColor);
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font);
	z-index: 0;
}

a {
	color: var(--fontColor);
	text-decoration: none;
	padding: 0.1rem;
}

a:hover {
	text-decoration: none;
	color:var(--linkColorHover);
	background:var(--linkBgHover);
}

label {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 0.4rem;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: var(--border);
	border-radius: 2px;
	background: var(--inputBg);
	box-shadow: var(--shadow);
	color: var(--inputTextColor);
}

input:hover, button:hover, select:hover, textarea:hover {
	cursor: pointer;
}

select {
	-webkit-appearance: none;
  -moz-appearance: none;
	appearance: none; 
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 6px;
}

input:disabled {
	color: #ccc;
}

button {
	/* color: var(--textColor); */
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	transform: scale(1.03);
}

button:focus {
	border-color: #666;
}
